# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\shkun\Documents\Наука\Natural Language Processing\BERTology 2021 (Sharoff, Dmitriev, Shkunkov)\Multilingual-BERT-NER\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
